certifi==2024.6.2
charset-normalizer==3.3.2
dnspython==1.16.0
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
memory-profiler==0.61.0
packaging==24.1
pluggy==1.5.0
psutil==6.0.0
pydotenv==0.0.7
pymongo==3.11.0
pyotp==2.9.0
pytest==8.3.2
python-dotenv==1.0.1
pywebio==1.8.3
requests==2.32.3
tornado==6.4
ua-parser==0.18.0
urllib3==2.2.1
user-agents==2.2.0
